{% extends 'base.html' %}

{% block title %}
Добро пожаловать
{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">
        Новые продукты
    </h2>
    <div class="grid grid-cols-3 gap-3">
        {% load static %}
        {% for product in products %}
        <div>
            <a href="{% url 'core:product-detail' product.id %}">
                <div>
                    <img src="{{ product.image.url }}" class="w-full h-52 rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">
                        {{ product.name }}
                    </h2>
                    <p class="text-gray-500">
                        Price: {{ product.price }}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">
        Категории
    </h2>
    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
        <a href="{% url 'core:products' %}?category_id={{ category.id }}">
            <div class="p-6 bg-white rounded-xl">
                <h2 class="text-2xl">
                    {{ category.name }}
                </h2>
                <p class="text-gray-500">
                    {{ category.products.count }} Продуктов
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}